{% extends 'Facilitator/shared/base.html' %}

{% block content %}
                <h2 class="section-title">Facilitator Overview</h2>
                
                <div class="stats-grid">
                   
                    <div class="stat-card">
                        <p class="stat-label">Active Facilitators</p>
                        <p class="stat-value">86</p>
                    </div>
                    <div class="stat-card">
                        <p class="stat-label">Pending Validations</p>
                        <p class="stat-value">15</p>
                    </div>
                   
                </div>

                <!-- CREATE USER MODAL -->

{% endblock content %}
